
@model IEnumerable<FilteringExcelSheet_MVC.ViewModels.AssetFirmVM>

@{
    ViewData["Title"] = "Uploading Excel Files";
}

</br>
</br>


<div class="row flex-lg-row align-items-center g-5 py-5">
      
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Welcome, This is Hesham Eldawy Project </h1>
        <p class="lead">
Hi, I am Software Engineer with industry experience building websites and web applications. I specialize in JavaScript and have professional experience working with C#, React, and Angular. I also like to solve coding challenges using Java, C#, and C++. As a Dot NET Full Stack Developer, I have a good experience with C#, JavaScript, Html, CSS, Bootstrap, MySQL, Azure, Dot Net framework, Entity Framework, and Microsoft SQL Server Management Studio. 
I have a good understanding of Solid principles, OOP, and Domain-Driven Design for creating Web APIs.         
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a type="button" class="btn btn-primary btn-lg px-4 me-md-2" href="https://www.linkedin.com/in/hesham-eldawy/" target="_blank" >Linkdlin</a>
          <a type="button" class="btn btn-warning btn-lg px-4" href="https://heshamd.github.io/Hesham-Eldawy-Eportfolio/" target="_blank" >Eportfolio</a>
        </div>
      </div>
</div>